$colorOrange: #ff7c08;
$colorDarkBlue: #231f40;
$bgLightBlue: #eaf0f5;

body {
  font-family: "Manrope", sans-serif;
}

.bg-orange {
  background-color: $colorOrange;
}

.txt-orange {
  color: $colorOrange;
}

.bg-dark-blue {
  background-color: $colorDarkBlue;
}

.circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-contacts:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: skewX(-30deg);
  background-color: $colorOrange;
}

.contact {

  a {
    color: white;
    transition: all 0.2s ease-in;
  }

  i {
    color: #ffffff;
    transition: all 0.2s ease-in;
  }

  &:hover a {
    color: $colorDarkBlue;
  }

  &:hover i {
    color: $colorDarkBlue;

  }

}

.social-icons {
  color: #fff;

  .circle-icon {
    width: 2rem;
    height: 2rem;
    background-color: $colorOrange;

    &:hover {
      background-color: #fff;
      cursor: pointer;
    }

    &:hover i {
      color: $colorOrange;
    }
  }
}

// NAVBAR

.navbar {
  font-weight: 600;
  color: $colorDarkBlue;
  position: sticky;
  top: 0;
  z-index: 20;

  .navbar-brand {
    img {
      height: 2.5rem;
    }
  }

  .fa-chevron-down {
    font-size: 0.75rem;
    margin-left: 0.125rem;
  }


  .active:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $colorOrange;
    bottom: -5px;
    left: 0;
  }

  .nav-item:hover:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $colorOrange;
    bottom: -5px;
    left: 0;
  }

  .nav-item {
    height: 50px;
    line-height: 50px;
    transition: all 0.1s ease-in;

    &:hover {
      color: $colorOrange;
    }
  }

  .navbar-toggler {
    background-color: $colorOrange;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-number-circle {
    font-size: 0.75rem;
    color: white;
    position: absolute;
    top: -25%;
    right: -25%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $colorOrange;
    border: 1px solid white;
  }

  .icon-circle {
    background-color: #ff7c0826;
    width: 2.5rem;
    height: 2.5rem;

    &:hover {
      background-color: $colorOrange;
      cursor: pointer;
    }

    &:hover i {
      color: white;
    }
  }
}


// HEADER

header {
  height: auto;

  h1 {
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }

  .bg-img1 {
    background-image: url("https://html.themefax.com/regfood/images/banner_bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;


    .overlay {
      background-color: #231f40c4;
      height: 100%;

      .hero-shape-1 {
        top: 40px;
        left: 0;
        width: 55px;
        height: 55px;
        animation: rotating 50s linear infinite;
      }

      .hero-shape-2 {
        top: 500px;
        left: 0;
        width: 45px;
        height: 45px;
        animation: scaling 4s linear infinite;
      }

      .hero-shape-3 {
        top: 40px;
        left: 50%;
        width: 45px;
        height: 45px;
        animation: scaling 4s linear infinite;
      }

      .hero-shape-4 {
        top: 560px;
        left: 25%;
        width: 45px;
        height: 45px;
        animation: moving 4s linear infinite;
      }

      .hero-shape-5 {
        top: 550px;
        left: 50%;
        width: 45px;
        height: 45px;
        animation: rotating 50s linear infinite;
      }

      .hero-shape-6 {
        top: 40px;
        right: 0;
        width: 60px;
        height: 60px;
        animation: moving 50s linear infinite;
      }
    }

    .search-form {
      background-color: white;
      color: #555;
      border-radius: 50px;
      padding: 0.5rem;

      .search-wrap {
        border: 1px solid #bbb;
        margin: 0;
        border-radius: 50px;
        padding: 0.5rem;
      }

      .search-button {
        border: 1px solid transparent;
        border-radius: 30px;
        padding: 0.5rem 1rem;
        background-color: $colorOrange;
        color: white;
        transition: padding 0.4s ease-in-out;
        position: relative;



        &:hover {
          background-color: $colorDarkBlue !important;
          padding: 12px 20px 12px 64px;

          &::before {
            opacity: 1;
            left: 1.5rem;
          }
        }

        &::before {
          opacity: 0;
          position: absolute;
          content: "";
          width: 23px;
          height: 24px;
          background: url(https://html.themefax.com/regfood/images/arrow_icon.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          top: 50%;
          transform: translateY(-50%);
          left: 0px;
          transition: all 0.4s ease-in-out;
        }


      }


      .search-input {
        padding: 1rem 1.5rem;
        font-size: 14px;
        color: inherit;
        border: none;
        border-radius: inherit;

        &:focus {
          outline: none;
        }
      }

      input[type="search"]::placeholder {
        color: #bbb;
      }
    }

    .img-border {
      position: absolute;
      background-position: center;
      background-size: cover;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 5;
      width: 100%;
      max-width: 546px;
      height: 100%;
      animation: rotating 120s linear infinite;
    }

    .img-hero {
      border-radius: 50%;
      border: 1.5rem solid rgba(0, 0, 0, 0.2);
      position: relative;
      z-index: 10;
      margin: 0 auto;
      width: 546px;
      display: block;
    }

    .discount-circle {
      z-index: 11;
      top: 0;
      left: 5rem;
      background-color: $colorOrange;
      border: 2px solid white;
      width: 8rem;
      height: 8rem;

      h3 {
        font-size: 35px;
        margin: 0;
      }
    }
  }


  h3 {
    font-family: 'Oleo Script', cursive;
  }

}

//MAIN

main {
  .bg-blue {
    background-color: $bgLightBlue;
  }

  h3 {
    font-family: 'Oleo Script', cursive;
    color: $colorOrange;
  }

  h2 {
    font-family: "Barlow", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: $colorDarkBlue;
  }

  h4 {
    font-size: 20px;
    font-family: "Barlow", sans-serif;
    transition: all 0.2s ease-in-out;


    &:hover {
      cursor: pointer;
      color: $colorOrange;
    }
  }

  .offer-card {
    border-radius: 8px;
  }

  .icon-arrow {
    color: white;
    width: 2.5rem;
    height: 2.5rem;
  }

  .fa-arrow-left {
    background-color: $colorOrange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $colorDarkBlue;
      cursor: pointer;
    }
  }

  .fa-arrow-right {
    background-color: $colorDarkBlue;
    margin-left: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  .bg-properties {
    background-size: cover;
    background-position: center;
  }

  .offer-border {
    border: 0.5rem solid white;
    border-radius: 10px;
  }

  .bg-img-offer {
    background-image: url("https://html.themefax.com/regfood/images/offer_item_img2.jpg");
  }

  .bg-img-offer-2 {
    background-image: url("https://html.themefax.com/regfood/images/offer_item_img3.jpg");
  }

  .bg-img-offer-3 {
    background-image: url("https://html.themefax.com/regfood/images/offer_item_img1.jpg");
  }

  .discount-icon {
    background-color: $colorOrange;
    border: 2px solid white;
    color: white;
    width: 3.5rem;
    height: 3.5rem;
    top: 15%;
    left: 25%;
  }

  .offer-card-icon {
    background-color: $colorOrange;
    color: white;
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $colorDarkBlue;
      cursor: pointer;

    }
  }

  .reservation-bg-img {
    background-image: url("https://html.themefax.com/regfood/images/reservation_bg.jpg");
  }

  .reservation-card {
    z-index: 1;
    position: relative;
    padding: 50px;

    h2 {
      border-bottom: 1px solid white;
      font-family: Barlow, sans-serif;
      color: white;
      margin-bottom: 25px;
    }

  }

  .confirm-btn {
    width: 100%;
    background-color: $colorDarkBlue;
    color: white;
    border: none;
    padding: 12px 20px;
    transition: padding 0.4s ease-in-out;
    position: relative;



    &:hover {
      background-color: $colorDarkBlue !important;
      padding: 12px 20px 12px 64px;

      &::before {
        opacity: 1;
        left: 1.5rem;
      }
    }

    &::before {
      opacity: 0;
      position: absolute;
      content: "";
      width: 23px;
      height: 24px;
      background: url(https://html.themefax.com/regfood/images/arrow_icon.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      transition: all 0.4s ease-in-out;
    }
  }

  form {
    color: white;

    .form-label {
      font-weight: 600;
    }

    .form-control {
      padding: 12px 20px;
      width: 100%;
    }
  }

  .form-control:focus {
    outline: none;
    box-shadow: none;
  }

  .menu-btn-main {
    background-color: $colorOrange;
    color: white;
    transition: background-color, color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $colorOrange;
      color: white;
    }
  }

  .menu-btn {
    color: $colorOrange;
    border: 1px solid $colorOrange;
    transition: background-color, color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $colorOrange;
      color: white;
    }
  }

  .menu-container:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
    background: rgb(255, 124, 8);
    background: linear-gradient(125deg, rgba(255, 124, 8, 0.15234597256871496) 0%, rgba(255, 255, 255, 0) 52%, rgba(255, 124, 5, 0.33441880170036764) 93%);
  }

  .menu-txt-header {
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $colorOrange;
      cursor: pointer;
    }
  }


  .cart-box:before {
    content: '';
    position: absolute;
    background-color: #e06b04;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    bottom: 37px;
    left: 0;
    width: 18px;
    height: 25px;
    transition: background-color 0.2s ease-in-out;
  }

  .cart-box:hover:before {
    background-color: $colorDarkBlue;
  }

  .food-card {
    border-radius: 10px;
  }

  .category-box {
    position: absolute;
    background-color: $colorOrange;
    color: white;
    font-family: "Oleo Script", cursive;
    padding: 3px 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    top: -15px;
    right: 12px;
    width: 100px;
    transition: color 0.2s ease-in-out;


    &:hover{
      color: $colorDarkBlue;
      cursor: pointer;
    }
  }

  .cart-box {
    position: absolute;
    background-color: $colorOrange;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 6px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    bottom: 20px;
    left: -5px;
    width: 150px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $colorDarkBlue;
      cursor: pointer;
    }
  }


  .card-wrap {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .menu-icon {
    color: $colorOrange;
    border: 1px solid $colorOrange;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color, color 0.2s ease-in-out;

    &:hover {
      background-color: $colorOrange;
      color: white;
      cursor: pointer;
    }
  }

  .menu-card-txt {
    padding: 1.25rem;
  }

  .star-icon-wrap {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;

  }

  .star-icon {
    color: #ff9933;
  }

  del {
    font-size: 18px;
    font-weight: normal;
  }

  .price {
    color: $colorOrange;
    font-family: "Barlow", sans-serif;
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 1.25rem;
  }

  .line-through {
    color: gray;
    font-size: 18px;
  }

  .team-container {
    background-color: #EEF6EB;
  }

  .img-container-team {
    border: 10px solid white;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 5;
    position: relative;


    img {
      border-radius: 50%;
      padding: 10px;
      background-color: $colorOrange;
      transition: all 0.2s ease-in-out;
    }
  }

  .team-card-container:hover img {
    transform: scale(1.03);
  }

  .team-card {
    background-color: white;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    &:hover {
      transform: translateY(-5px);
    }


  }

  .team-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: $colorOrange;
    clip-path: polygon(0 0, 100% 0%, 100% 25%, 50% 100%, 0 25%);
    width: 100%;
    height: 30%;
    z-index: 1;
  }

  .team-card-container:after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: -25px;
    opacity: 0.05;
    background-image: url("https://html.themefax.com/regfood/images/chefs_shapes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 85px;
    height: 150px;
    z-index: 2;
    transform: rotate(45deg);
  }


  .social-icon-team {
    width: 2rem;
    height: 2rem;
    background-color: #ff7c0821;
    color: $colorOrange;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $colorOrange;
      color: white;
      cursor: pointer;
    }


  }

  .bg-img-best-seller {
    background-image: url("https://html.themefax.com/regfood/images/offer_slider_1.png");
    border-radius: 10px;
  }

  .bg-img-best-seller-2 {
    background-image: url("https://html.themefax.com/regfood/images/offer_slider_2.png");
    border-radius: 10px;
  }

  .link-shop-now {

    a {
      color: $colorDarkBlue;
      font-weight: 600;
      font-size: 17px;
      transition: color 0.2s ease-in-out;
    }

    .fa-arrow-right {
      background-color: transparent;
      color: $colorDarkBlue;
      transition: color 0.2s ease-in-out;

    }

    &:hover .fa-arrow-right {
      color: $colorOrange;
    }

    &:hover a {
      color: $colorOrange;
    }
  }

  .gallery-bg-img {
    background-image: url("https://html.themefax.com/regfood/images/download_img.png");
    height: 100%;
  }

  .bg-overlay {
    background-color: #231f40c4;
    height: 100%;
    width: 100%;
  }

  .app-icon {
    font-size: 2rem;
  }

  .app-button {
    background-color: $colorOrange;
    border-radius: 0.25rem;
    padding: 0.5rem 1.25rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: red;
      cursor: pointer;
    }
  }

  .no-p {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .feedback-card {
    background-color: $colorDarkBlue;
    border-radius: 1.5rem;
    color: white;
    padding: 5rem 2rem 1.5rem 2rem;
    position: relative;

    h4 {
      font-family: Barlow, sans-serif;
    }

    &:before {
      content: '';
      position: absolute;
      background-color: $colorOrange;
      width: 50%;
      height: 108%;
      border-radius: 1.5rem;
      top: -4%;
      left: -3%;
      z-index: -1;
    }

    .feedback-img-container {

      width: 150px;
      height: 150px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 0.25rem solid white;
      border-radius: 50%;


      img {
        border-radius: 50%;
      }
    }
  }

  .bg-numbers {
    background-image: url("https://html.themefax.com/regfood/images/counter_bg.jpg");

    .number-wrap {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #231f40c4;


      .number {
        font-size: 2rem;
        font-weight: bold;
        padding: 2rem;
      }

      &:before {
        content: '';
        background-image: url("https://html.themefax.com/regfood/images/counter_shapes.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: -20px;
        left: -18px;
        width: 235px;
        height: 235px;
        z-index: 1;
        animation: rotating 60s linear infinite;
      }
    }


  }

  .icon-box {
    width: 4rem;
    height: 4rem;
    background-color: $colorOrange;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }

  .news-container:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    background: rgb(255, 124, 8);
    background: linear-gradient(149deg, rgba(255, 124, 8, 0.4285247546284139) 0%, rgba(255, 124, 8, 0) 44%, rgba(255, 159, 0, 0.4173202728356967) 100%);
  }

  .news-card {

    border-radius: 0.5rem;
    padding: 0.75rem;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    transition: all 0.2s ease-in-out;

    &:hover .img-bg img {
      transform: scale(1.03);
    }

    .img-bg img {
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      transform: translateY(-5px);
      cursor: pointer;
    }


    .img-bg {
      border-radius: 0.5rem;
    }

    .img-round {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      border: 0.25rem solid white;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
    }
  }

  .news-card-tag {
    background-color: $colorOrange;
    font-family: "Oleo Script", cursive;
    color: white;
    padding: 6px 20px;
    border-radius: 5px;
    position: absolute;
    top: -45px;
    right: -10px;
    z-index: 4;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $colorDarkBlue;
      cursor: pointer;
    }
  }

  .border-btm {
    border-bottom: 1px solid #fad590;
    padding-bottom: 1rem;
  }


  .read-more {

    a {
      color: $colorDarkBlue;
      text-decoration: none;
      font-weight: 600;
      font-size: 17px;
      transition: color 0.2s ease-in-out;
    }

    .fa-arrow-right {
      background-color: transparent;
      color: $colorDarkBlue;
      transition: color 0.2s ease-in-out;

    }

    &:hover .fa-arrow-right {
      color: $colorOrange;
    }

    &:hover a {
      color: $colorOrange;
    }
  }

  .footer-bg {
    background-image: url("https://html.themefax.com/regfood/images/footer_bg.jpg");

  }

  .footer-logo {
    height: 3rem;
  }

  .border-btm-2 {
    border-bottom: 1px solid $colorOrange;
    padding-bottom: 0.25rem;
  }

  .border-btm-3 {
    border-bottom: 1px solid $colorOrange;
    padding-bottom: 1rem;
  }

  footer {

    ul {

      li {
        margin-top: 1rem;
      }

      li::before {
        content: "\25A0";
        color: $colorOrange;
        display: inline-block;
        width: 1rem;
        margin-left: -1rem;
      }
    }
  }

  .overlay2 {
    background-color: #231f40e0;
    width: calc(100% + 24px);
    margin: 0 -12px;
    overflow-x: hidden;
  }


}

.scroll-top {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorOrange;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  animation: movingY 4s infinite;
  border: 2px solid white;
  transition: background-color 0.3s ease-in-out;
  z-index: 100;

  &:hover {
    background-color: $colorDarkBlue;
  }
}

.fancy-animation {
  transition: all 0.5s ease-in-out;

  img {transition: all 0.5s ease-in-out;

  }

  &:hover {
    transform: translateY(-5px);

    img {
      transform: scale(1.1);
    }
  }

}

.row--overflow-hidden {
  margin: 0 !important;
  overflow: hidden;
}


//  ANIMATIONS

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scaling {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.6);
  }
}

@keyframes moving {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(16px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes movingY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}


// MEDIA QUERIES

@media (max-width: 992px) {
  .top-contacts:before {
    display: none;
  }
  .gap-sm-md {
    gap: 3rem;
  }

  header .bg-img1 .discount-circle {
    right: 100px;
    left: unset;
  }
  header .bg-img1 .overlay .hero-shape-4-md {
    bottom: 40px;
    left: 0;
    top: unset;
  }

  header .bg-img1 .overlay .hero-shape-5-md {
    bottom: 20px;
    left: 100%;
    top: unset;
  }

  header .bg-img1 .overlay .hero-shape-6-md {
    bottom: 20px;
    left: 100%;
    top: unset;
  }

  .reservation-row:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #ff7c08e8;
    clip-path: (0 0, 100% 0%, 100% 100%, 0% 100%);
    z-index: 1;
  }

  .p0-md {
    padding: 0;
  }


}


@media (min-width: 992px) {
  .reservation-row:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: -1px;
    background: #ff7c08e8;
    clip-path: polygon(53% 0, 100% 0%, 100% 100%, 38% 100%);
    z-index: 1;
  }

}







@media (max-width: 768px) {

  header .bg-img1 .discount-circle {
    left: 5rem;
    transform: scale(0.8);
  }

  header {
    height: auto;

    .bg-img1 {
      height: auto;

      .search-form .search-wrap {
        border: none;

        .search-input {
          border: 1px solid #bbb;
          margin-bottom: 0.75rem;
        }
      }
    }
  }

  header .bg-img1 .search-form .search-button {
    padding: 1rem 1.5rem;
  }

  .img-gallery-sm {
    width: 100%;
  }

  .img-gallery-container {
    display: flex;
    height: 450px;
    margin-top: 1rem;


    img {
      object-fit: cover;
    }
  }




}






@media (max-width: 576px) {
  header .bg-img1 .discount-circle {
    left: 2rem;
    transform: scale(0.65);
  }
}


@media (max-width: 420px) {
  header .bg-img1 .discount-circle {
    left: 0;
    transform: scale(0.5);
  }
}
